{% set group_create = h.check_access('group_create') %}
{% set package_create = h.check_access('package_create') %}
{% set organization_create = h.check_access('organization_create') %}

{% if group_create or package_create or organization_create %}
    <div id="home-create-buttons" class="container-fluid">
        <div class="restricted-max-width">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                {%- if organization_create -%}
                    {%- link_for 'CREAR ORGANIZACIÓN', controller='organization', action='new' -%}
                {%- endif -%}
                {%- if group_create -%}
                    {%- link_for 'CREAR TEMA', controller='group', action='new' -%}
                {%- endif -%}
                {%- if package_create -%}
                    {%- link_for 'CREAR CONJUNTO DE DATOS', controller='package', action='new' -%}
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endif -%}
