
{% if c.featured_packages|length > 0 %}
    <div id="featured-content-container" class="container-fluid">
        <div class="restricted-max-width">
            <div id="featured-content" class="col-sm-12">

                <h5>ÚLTIMOS INDICADORES</h5>
                <div class="col-xs-12"  style="overflow-x: scroll;">
                    <div class="table-wrapper">

                    {% for featured_row in c.featured_packages %}

                        {% set conteo = loop.index%}
                        {% if conteo < 3 %}
                            {% if featured_row|length == 1 %}
                                <div class="empty-card">
                                </div>
                            {% endif %}

                            {% for featured_pkg in featured_row %}


                                <a href="{{ h.url_for(controller='package', action='read', id=featured_pkg.name) }}" id="{{ conteo }}-{{ loop.index }}">
                                    <div class="featured-card">
                                    {#
                                        <h3>{{ h.cut_text(h.get_pkg_extra(featured_pkg, 'Responsable') or featured_pkg.author, 150) }}</h3>
                                    #}
                                        <p>{{ h.cut_text(featured_pkg.title or featured_pkg.name, 100) }}</p>
                                        {#
                                        <p>{{ h.cut_text(featured_pkg.notes, 160) }}</p>
                                        #}
                                    </div>
                                </a>
                                {% if not(conteo == 2 and loop.index == 2) %}
                                    <div class="table-spacer"></div>
                                {% endif %}


                            {% endfor %}

                            {% if featured_row|length == 1 %}
                                <div class="empty-card">
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
