<div class="featured-groups container-fluid">
    <div class="restricted-max-width">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h4>Clasificación por temas</h4>
            <!-- TODO: cuando no se muestran imagenes: mostrar igual que un boton y en disable con opacity en 0.65 -->
            {% set dataset_url = h.url_for(controller='package', action='search') %}
            {% set group_imgs = h.get_theme_config('groups.imgs') %}
            {%- for group in c.sorted_groups -%}
                {%- if not 'ods-' in group.name -%}
                    {%- set can_update = c.userobj and c.userobj.sysadmin -%}
                    {% set group_class = 'active' if group.package_count > 0 else 'inactive' %}
                    {% if group.package_count > 0 %}
                        <div class="group-container col-xs-12 col-sm-4 col-md-3 invisible {{ 'with-edit-button' if can_update else '' }}">
                            {% if can_update %}
                                <a href="{{ h.url_for(controller='group', action='edit', id=group.name) }}">
                                    <div class="edit-container">
                                        {% snippet "svg/edit.svg" %}
                                    </div>
                                </a>
                            {% endif %}

                                <a href="{{ h.add_url_param(new_params={'groups': group.name}, alternative_url=dataset_url) }}">

                                    <div class="group {{ group_class }} {{ group_imgs if group_imgs else '' }}">
                                        <div class="group-text">
                                            {% if group_imgs == 'show-icons' and group.image_display_url|length > 0 %}
                                                <img src="{{ group.image_display_url }}" data-replace="svg">
                                            {% endif %}

                                            <div class="group-table">
                                                <div class="group-cell">
                                                    {{ group.display_name }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </a>

                        </div>
                    {% endif %}
                {% endif %}
            {%- endfor -%}
        </div>
    </div>
</div>

<div class="featured-groups container-fluid">
    <div class="restricted-max-width">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 ods-main-dropdown">
            <h4>Clasificación por ODS <img src="user_images/White_triangle_inverted.svg" style="width: 16px;height: 16px;"></h4>
            <!-- TODO: cuando no se muestran imagenes: mostrar igual que un boton y en disable con opacity en 0.65 -->
            {% set dataset_url = h.url_for(controller='package', action='search') %}
            {% set group_imgs = h.get_theme_config('groups.imgs') %}
            <div class="groups-ods-container">
                {%- for group in c.sorted_groups -%}
                    {%- if 'ods-' in group.name -%}
                        {%- set can_update = c.userobj and c.userobj.sysadmin -%}
                        <div class="group-container col-xs-12 col-sm-4 col-md-3 invisible {{ 'with-edit-button' if can_update else '' }} ods-container">
                            {% if can_update %}
                                <a href="{{ h.url_for(controller='group', action='edit', id=group.name) }}">
                                    <div class="edit-container">
                                        {% snippet "svg/edit.svg" %}
                                    </div>
                                </a>
                            {% endif %}
                            {% set group_class = 'active' if group.package_count > 0 else 'inactive' %}
                            {% if group.package_count > 0 %}
                                <a href="{{ h.add_url_param(new_params={'groups': group.name}, alternative_url=dataset_url) }}">
                            {% endif %}
                            <div class="group {{ group_class }} {{ group_imgs if group_imgs else '' }} ods_group">
                                <div class="group-text">

                                    <img src="{{ h.url('home')}}user_images/{{ group.id }}.png">


                                    <div class="group-table">
                                        <div class="group-cell">
                                            {{ group.display_name }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if group.package_count > 0 %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/home/groups.js' %}
