{% extends h.get_andino_base_page() %}



{% block content %}
    <div class="floating-link"><a href="http://led.tucuman.gov.ar/"><img src="user_images/logo-portal-led.png"></a></div>
    <div class="home">
        {% set title_template = h.get_theme_config('home.title-template') %}
        {% if title_template == 'portada1' %}
            {% snippet "home/title_1.html" %}
        {% elif title_template == 'portada2' %}
            {% snippet "home/title_2.html" %}
        {% elif title_template == 'portada3' %}
            {% snippet "home/title_3.html" %}
        {% else %}
            {% snippet "home/title_4.html" %}
        {% endif %}
        {% snippet "home/featured_content.html" %}
        {% snippet "home/create_buttons.html" %}
        {% snippet "home/groups.html" %}

    </div>

    {% set show_greetings = h.get_theme_config('show-greetings', default=True) %}
    {% set package_create = h.check_access('package_create') %}
    {% if show_greetings and package_create %}
        <div id="greetings-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <i class="icon-remove dismiss-greetings" data-dismiss="modal"></i>
                        <h1>¡Listo! Mirá la guía de uso</h1>
                        <p>Te ayudará a dar los primeros pasos.</p>
                        <div class="modal-actions">
                            <span>
                                <a href="https://github.com/datosgobar/portal-andino-theme/blob/master/docs/guia_uso_portal_andino.md"
                                   target="_blank" class="dismiss-greetings">
                                    <button type="button" class="btn btn-blue">VER GUÍA DE USO</button>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% resource 'gobar_js/config/greetings.js' %}
    {% endif %}

{% endblock %}
