{% set stats = h.get_site_statistics() %}

{% set background = h.get_theme_config('title.background-image') %}
<div id="title" class="container-fluid title-variant-4" style="{{ 'background-image:url("%s")' % background if background else '' }}">
    <div class="background-overlay no-padding-bottom">
        <div class="restricted-max-width">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <div id="title-container" class="col-xs-12 text-center">
                    {% set title = h.get_theme_config('title.site-title') %}
                    <h1 style="font-size: 300%;margin-top: 0;">{{ title if title else '' }}</h1>
                    <p class="description col-xs-10 col-xs-offset-1" style="font-size: 100%;margin-bottom: 20px;">
                        {% set description = h.get_theme_config('title.site-description') %}
                        {{ description if description else '' }}
                        {% if c.userobj and c.userobj.sysadmin %}
                            <a class="edit-description-link" href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_title') }}">
                                {% snippet "svg/edit.svg" %}
                            </a>
                        {% endif %}
                    </p>
                </div>
                <div id="searcher" class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-offset-3 col-lg-6 no-padding">
                    <form class="module-content search-form" method="get"
                          action="{% url_for controller='package', action='search' %}">
                        <input type="text" class="search" name="q" value="" autocomplete="off"
                               placeholder="¿Qué datos buscás?" maxlength="200" style="font-size: 150%;"/>
                        <button type="submit">
                            <img src="/img/search.svg" class="search-icon">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="stats-overlay" style="margin-top: 0;">
            <div class="restricted-max-width">
                <div id="stats" class="hidden-xs col-sm-12 text-center">
                    <div class="single-stat">
                        <p class="stat" style="font-size: 50px;">{{ "%3d" % stats.dataset_count }}</p>

                        <p class="stats-legend datasets">CONJUNTOS DE DATOS</p>
                    </div>
                    <div class="single-stat">
                        <p class="stat organizations" style="font-size: 50px;">{{ "%3d" % h.organizations_with_packages() }}</p>

                        <p class="stats-legend">ORGANIZACIONES CON DATOS</p>
                    </div>
                    {#
                    <div class="single-stat">
                        <p class="stat organizations">{{ "%3d" % stats.group_count }}</p>

                        <p class="stats-legend">TEMAS</p>
                    </div>
                    #}
                </div>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/background_ie.js' %}
