{% extends h.get_andino_base_page() %}

{% block subtitle %}Organizaciones - {% endblock %}

{% block content %}

    {% snippet "organization/title.html" %}

    <div class="organization-container container-fluid">
        <div class="restricted-max-width">
            <div class="organization col-xs-12 col-md-10 col-md-offset-1">
                {% if h.check_access('organization_create') %}
                    <div class="add-organization">
                        {% link_for 'CREAR ORGANIZACIÓN', controller='organization', action='new', class_='' %}
                    </div>
                {% endif %}

                <div class="organization-list">
                    <div class="organization-list-title">
                        <span>Organización</span>
                        <span class="count-title">Conjuntos de datos totales</span>
                    </div>

                    {% set organizations_tree = h.organizations_basic_info() %}
                    {% set dataset_url = h.url_for(controller='package', action='search') %}

                    {% for organization in organizations_tree recursive %}

                        {% set top_organization = organization.depth == 0 %}


                        <div class="organization-branch">

                            <div class="organization-name {{ 'top-organization' if top_organization else '' }}">
                                {%- if top_organization -%}
                                    {%- snippet "svg/chevron_right.svg" -%}
                                {%- endif -%}

                                {%- if organization.total_package_count > 0 -%}
                                    <a href="{{ h.add_url_param(new_params={'organization': organization.name}, alternative_url=dataset_url) }}">
                                    {%- if organization.depth == 0 -%}
                                        {{ organization.title.split('-')[1]|trim }}
                                    {%- else -%}
                                        {{ organization.title|trim }}
                                    {%- endif -%}
                                    {{ ('(%d)' % organization.own_package_count) if organization.own_package_count }}
                                    </a>
                                {%- else -%}
                                    {%- if organization.depth == 0 -%}
                                        {{ organization.title.split('-')[1]|trim }}
                                    {%- else -%}
                                        {{ organization.title|trim }}
                                    {%- endif -%}
                                {%- endif -%}

                                {%- if c.userobj and c.userobj.sysadmin -%}
                                    <a href="{{ h.url_for(controller='organization', action='edit', id=organization.name) }}">
                                        <span class="edit-organization">
                                            {% snippet "svg/edit.svg" %}
                                        </span>
                                    </a>
                                {%- endif -%}

                                {%- if top_organization -%}
                                    <span class="organization-count">
                                        {{ organization.total_package_count }}
                                    </span>
                                {%- endif -%}

                            </div>

                            {% if organization.children %}
                                {{ loop(organization.children) }}
                            {% endif %}

                        </div>


                        {% if top_organization %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
