{% set stats = h.get_site_statistics() %}
{% set config = h.get_theme_config() %}

{% set background = h.get_theme_config('title.background-image') %}
<div id="title" class="organization-title container-fluid" style="{{ 'background-image:url("%s")' % background if background else '' }}">
    <div class="background-overlay">
        <div class="restricted-max-width">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div id="title-container" class="col-xs-12 col-md-8 text-left">
                    <h1 style="font-size: 30px;">Organizaciones con datos</h1>

                    <p class="description" style="font-size: 12px;">
                        {% set description = h.get_theme_config('organization.description') %}
                        {{ description if description else '' }}
                        {% if c.userobj and c.userobj.sysadmin %}
                            <a class="edit-description-link" href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_organizations') }}">
                                {% snippet "svg/edit.svg" %}
                            </a>
                        {% endif %}
                    </p>
                </div>
                <div id="stats" class="col-xs-12 col-md-4">
                    <div>
                        <p class="stat organizations" style="font-size: 50px;">{{ "%3d" % h.organizations_with_packages() }}</p>

                        <p class="stats-legend" style="font-size: 14px;">ORGANIZACIONES CON DATOS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/background_ie.js' %}
