{% extends h.get_andino_base_page() %}

{% block subtitle %}Editar conjunto - {% endblock %}

{% block content %}
    <div id="edit-package-container" class="container-fluid">
        <div class="restricted-max-width">
            <div id="edit-package" class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="back-btn">
                        <a href="{{ h.url_for(controller='package', action='read', id=c.pkg_dict.name) }}">
                            <i class="icon-chevron-left"></i>
                            VOLVER
                        </a>
                    </div>
                    <h1>Editar conjunto</h1>
                    {{- h.snippet(form_snippet, c=c, **form_vars) -}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
