{% extends h.get_andino_base_page() %}

{% block subtitle %}Crear Conjunto de datos - {% endblock %}

{% set stage = form_vars.stage %}

{% block content %}
    <div id="new-package-container" class="container-fluid">
        <div class="restricted-max-width">
            <div id="new-package" class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="back-btn">
                        {% set referer_url = request.headers.Referer %}
                        {% set current_url = request.path_url %}
                        <a href="{{ referer_url if referer_url and referer_url != current_url else h.url('home') }}">
                            <i class="icon-chevron-left"></i>
                            VOLVER
                        </a>
                    </div>
                    {% if 'active' in stage and 'complete' in stage %}
                        <h1>Editar conjunto de datos</h1>
                    {% else %}
                        <h1>Crear conjunto de datos y agregar recursos</h1>
                    {% endif %}
                    {{- h.snippet(form_snippet, c=c, **form_vars) -}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
