{% extends h.get_andino_base_page() %}


{% block subtitle %}{{ pkg.title }} - {% endblock %}

{% set pkg = c.pkg_dict or pkg_dict %}



{% block twitter_title -%}
    <meta name="twitter:title" content="{{ h.get_theme_config('tw-metadata.title') }} | {{ pkg.title }}">
{%- endblock %}
{% block twitter_description -%}
    <meta name="twitter:description" content="{{ pkg.notes }}">
{%- endblock %}


{% block content %}
    <div class="package-container container-fluid">
        <div class="restricted-max-width">
            <div class="package col-xs-12 col-md-10 col-md-offset-1">
                <div class="row">
                    {% snippet "package/snippets/main_info.html", pkg=pkg %}
                    {% snippet "package/snippets/secondary_info.html", pkg=pkg %}
                </div>
            </div>
        </div>
    </div>

    {% resource 'gobar_js/package/groups.js' %}
{% endblock %}
