{% extends h.get_andino_base_page() %}

{% block subtitle %}{{ c.resource.name }} - {% endblock %}

{%- block styles -%}
    {{ super() }}
    {%- resource 'gobar_css/table.css' -%}
{%- endblock -%}

{% set res = c.resource %}
{% set pkg = c.pkg_dict or pkg_dict %}

{% block twitter_title -%}
    <meta name="twitter:title" content="{{ h.get_theme_config('tw-metadata.title') }} | {{ res.name }}">
{%- endblock %}
{% block twitter_description -%}
    <meta name="twitter:description" content="{{ res.description }}">
{%- endblock %}


{% block content %}

    <div class="resource-container container-fluid">
        <div class="restricted-max-width">
            <div class="resource col-xs-12 col-md-10 col-md-offset-1">
                <div class="col-md-12 back-to-pkg">
                    {% set title = h.get_theme_config('title.site-title') %}
                    <a href="{{ h.url_for(controller='package', action='search') }}">Lista de conjunto de datos</a> / <a href="{{ h.url_for(controller='package', action='read', id=pkg.name) }}">Conjunto</a> / Recurso

                    {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
                    {% if can_edit %}
                        {% link_for 'EDITAR RECURSO', controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn btn-blue edit-resource' %}
                    {% endif %}
                </div>
                <div class="col-md-10 col-xs-12 title">
                    <h1>{{ res.name }}</h1>

                    <p>{{ res.description }}</p>
                </div>
                <div class="col-md-2 col-xs-12 resource-actions">
                    <a class="btn btn-green btn-block" href="{{ res.url }}">{{ 'DESCARGAR' if res.resource_type != 'api' else 'VER DOCUMENTACION' }}</a>

                    {% set distribution_metadata = h.get_distribution_metadata(resource_id=res.id, package_id = res.package_id) %}
                    {% if distribution_metadata is not none and not h.is_distribution_local(distribution_metadata) %}
                        {% set accessURL = distribution_metadata['accessURL'] %}
                        <a class="btn btn-block btn-outline-primary" href="{{ accessURL }}" target="_blank">CONSULTAR EN EL<br>PORTAL DE ORIGEN</a>
                    {% endif %}
                </div>

                <div class="resource-previsualization hidden-xs hidden-sm" style="display: {{ block if res.datastore_active else none }}">
                    <div class="resource-additional-info col-xs-12 col-md-12 row"
                         style="border-bottom: 0; width: 103%; margin-bottom: 20px; margin-top: 30px;">
                        <h2 class="title-h" style="padding-bottom: 0 !important;">Previsualización</h2>
                    </div>

                    <div class="data-preview hidden-xs hidden-sm col-md-12">
                        {% set resource_preview = h.resource_preview(c.resource, c.package) %}
                        {% snippet "package/snippets/resource_views_list.html",
                            views=resource_views,
                            pkg=pkg,
                            is_edit=false,
                            view_id=current_resource_view['id'],
                            resource_preview=resource_preview,
                            resource=c.resource,
                            extra_class="nav-tabs-plain" %}
                        {% set resource_preview = h.resource_preview(c.resource, c.package) %}
                        {% set views_created = res.has_views or resource_preview %}
                        {% if views_created %}
                            {% if resource_preview and not current_resource_view %}
                                {{ h.resource_preview(c.resource, c.package) }}
                            {% else %}
                                {% for resource_view in resource_views %}
                                    {% if resource_view == current_resource_view %}
                                        {% snippet 'package/snippets/resource_view.html',
                                 resource_view=resource_view,
                                 resource=c.resource,
                                 package=c.package %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
                                <p class="muted">
                                    <i class="icon-info-sign"></i>
                                    {{ _("Not seeing the views you were expecting?") }}
                                    <a href="javascript:void(0);" data-toggle="collapse"
                                       data-target="#data-view-info">
                                        {{ _('Click here for more information.') }}</a>
                                </p>
                                <div id="data-view-info" class="collapse">
                                    <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                                    <ul>
                                        <li>{{ _("No view has been created that is suitable for this resource") }}</li>
                                        <li>{{ _("The site administrators may not have enabled the relevant view plugins") }}</li>
                                        <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet") }}</li>
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% if res.resource_type != 'api' %}
                    <div class="hidden-xs hidden-sm attributes-table">
                       {% snippet "package/snippets/resource_attributes_table.html", res=res %}
                    </div>
                {% endif %}

                <div class="resource-additional-info col-xs-12 col-md-12 row" style="width: 102% !important;">
                    <h2 class="title-h">Información adicional</h2>

                    {% if pkg.author %}
                        <div class="resource-additional col-xs-12">
                            <div class="col-xs-4 key">
                                Responsable
                            </div>
                            <div class="col-xs-8 value">
                                {{ pkg.author }}
                            </div>
                        </div>
                    {% endif %}

                    {% if res.resource_type is defined and res.resource_type != 'api' %}
                        <div class="resource-additional col-xs-12">
                            <div class="col-xs-4 key">
                                Formato
                            </div>
                            <div class="col-xs-8 value">
                                {% set format = (res.mimetype_inner or res.mimetype or res.format or _('unknown')).lower() %}
                                <span class="label" data-format="{{ format }}">{{ format }}</span>
                            </div>
                        </div>
                    {% endif %}


                    {% if pkg.groups is defined and pkg.groups|length > 0 %}
                        <div class="resource-additional col-xs-12">
                            <div class="col-xs-4 key">
                                Temas
                            </div>
                            {%- for group in pkg.groups %}
                                    {{ group.title }}
                            {%- endfor %}
                        </div>
                    {% endif %}

                    {% if pkg.extras is defined %}
                        {% for extra in pkg.extras %}
                            {% if extra.key in ('accrualPeriodicity', 'updateFrequency') and extra.value|length > 0 %}
                                <div class="resource-additional col-xs-12">
                                    <div class="col-xs-4 key">
                                        Frecuencia de actualización
                                    </div>
                                    <div class="col-xs-8 value">
                                        {{ h.update_frequencies(extra.value)[1] or _('unknown') }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}


                    <div class="resource-additional col-xs-12">
                        <div class="col-xs-4 key">
                            Fecha de creación
                        </div>
                        <div class="col-xs-8 value">
                            {% if res.issued is defined %}
                                {{ h.render_ar_datetime(res.issued) }}
                            {% elif res.created is defined %}
                                {{ h.render_ar_datetime(res.created) }}
                            {% else %}
                                {{ _('unknown') }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="resource-additional col-xs-12">
                        <div class="col-xs-4 key">
                            Último cambio
                        </div>
                        <div class="col-xs-8 value">
                            {% if res.modified is defined %}
                                {{ h.render_ar_datetime(res.modified) }}
                            {% else %}
                                {{ h.render_ar_datetime(res.last_modified) or _('unknown') }}
                            {% endif %}
                        </div>
                    </div>

                </div>



                {% set has_more_resources = pkg.resources and pkg.resources|length > 1 %}

                {% if has_more_resources %}
                    <div class="resource-alternative-packages col-xs-12 col-md-12 row" style="border-bottom: 0; width: 103%;">
                        <h2 class="title-h">Otros recursos de este conjunto de datos</h2>
                        {% for resource in pkg.resources %}
                            {% if resource.id != res.id %}
                                {% if resource.format == "" or resource.format|lower not in h.accepted_mime_types() %}
                                    {% set format = "otro" %}
                                {% else %}
                                    {% set format = resource.format %}
                                {% endif %}
                                {% snippet "package/snippets/dataset_resource_item.html", pkg=pkg, resource=resource, format=format %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
    {% resource 'gobar_js/package/resource/resource_view.js' %}
{% endblock %}
