{% extends h.get_andino_base_page() %}

{% block subtitle %}Recursos del conjunto de datos - {% endblock %}

{% set has_reorder = c.pkg_dict and c.pkg_dict.resources and c.pkg_dict.resources|length > 0 %}

{% block content %}
    <div id="edit-resources-container" class="container-fluid">
        <div class="restricted-max-width">
            <div id="edit-resources" class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="back-btn">
                        <a href="{{ h.url_for(controller='package', action='read', id=c.pkg_dict.name) }}">
                            <i class="icon-chevron-left"></i>
                            VOLVER
                        </a>
                    </div>
                    <h1>Recursos del conjunto de datos</h1>
                    <div class="form-like">
                        <div class="page_primary_action action-buttons"></div>
                        <div class="spacer"></div>
                        <ul class="resource-list"{% if has_reorder %} data-module="resource-reorder"
                            data-module-id="{{ c.pkg_dict.id }}"{% endif %}>
                            {% for resource in c.pkg_dict.resources %}
                                {% snippet 'package/snippets/resource_item.html', pkg=c.pkg_dict, res=resource, url_is_edit=true %}
                            {% endfor %}
                        </ul>
                        <div class="resource-actions">
                            {% link_for 'EDITAR CONJUNTO DE DATOS', controller='package', action='edit', id=c.pkg_dict.name, class_='btn btn-blue edit-dataset-button' %}
                            {% link_for 'AGREGAR NUEVO RECURSO', controller='package', action='new_resource', id=c.pkg_dict.name, class_='btn btn-blue add-resource' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if has_reorder %}
        {% resource 'vendor/reorder' %}
        {% resource 'gobar_js/forms/resource_reorder.js' %}
    {% endif %}
{% endblock %}
