{% set stats = h.get_site_statistics() %}
{% set config = h.get_theme_config() %}

{% set background = h.get_theme_config('title.background-image') %}
<div id="title" class="package-title container-fluid" style="{{ 'background-image:url("%s")' % background if background else '' }}">
    <div class="background-overlay">
        <div class="restricted-max-width">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div id="title-container" class="col-xs-12 col-md-6 text-left">
                    <h1 style="font-size: 30px;">Conjunto de datos</h1>

                    <p class="description" style="font-size: 12px;">
                        {% set description = h.get_theme_config('dataset.description') %}
                        {{ description if description else '' }}
                        {% if c.userobj and c.userobj.sysadmin %}
                            <a class="edit-description-link" href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_datasets') }}">
                                {% snippet "svg/edit.svg" %}
                            </a>
                        {% endif %}
                    </p>
                </div>
                <div id="stats" class="col-xs-12 col-md-4 col-md-offset-2">
                    <div class="col-xs-12">
                        <p class="stat" style="font-size: 80px;">{{ "%03d" % stats.dataset_count }}</p>

                        <p class="stats-legend datasets" style="font-size: 20px;">CONJUNTOS DE DATOS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/background_ie.js' %}
