{% set resource_url = h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=resource.id) %}
{% set format = format or "" %}
<div class="pkg-container">
    <div class="pkg-actions">
        <a href="{{ resource.url }}">
            <button>DESCARGAR</button>
        </a>
        <a href="{{ resource_url }}">
            <button>FICHA TÉCNICA</button>
        </a>
    </div>
    <a href="{{ resource_url }}">
        <div class="package-info">

            <h3>{{ resource.name }}</h3>

            <p>{{ h.cut_text(resource.description, 140) }}</p>
        </div>

        <div class="pkg-file-img" data-format="{{ format.lower() }}">
            {% snippet "svg/archivo.svg" %}
            <p>{{ format.lower() }}</p>
        </div>
    </a>
</div>
