{% import 'macros/form.html' as form %}


{% set form_style = c.form_style or c.action %}
{% set max_length_title = 100 %}
{% set valid_title = h.valid_length(data.title, max_length_title) %}
{% if valid_title %}
    {% set after_desc_title = ["Por favor, no superes los ", max_length_title, " caracteres."] %}
{% else %}
    {% set after_desc_title = ["Por favor, para que el título del conjunto sea más claro, <b>no superes los ", max_length_title, " caracteres.</b>"] %}
{% endif %}
{{ form.input('title', id='field-title', label='* Título del conjunto', placeholder='Ej: Sistema de Contrataciones Electrónicas (Argentina Compra)', value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target', 'data-valid-title-length': max_length_title}, after_desc=after_desc_title|join|safe, max_length=max_length_title) }}

{% set prefix = h.url_for(controller='package', action='read', id='') %}
{% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}

{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}
{{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

{% set max_length_description = 500 %}
{% set valid_desc = h.valid_length(data.notes, max_length_description) %}
{% if valid_desc %}
    {% set after_desc_description = ["Por favor, no superes los ", max_length_description, " caracteres."] %}
{% else %}
    {% set after_desc_description = ["Por favor, para que la descripción sea más clara, <b>no superes los ", max_length_description, " caracteres.</b>"] %}
{% endif %}

{{ form.markdown_custom('notes', id='field-notes', label='* Descripción del conjunto', placeholder='Ej: Datos correspondientes al Sistema de Contrataciones Electrónicas (Argentina Compra), incluyendo las contrataciones de bienes y servicios, el Sistema de Información de Proveedores (SIPRO) y el Catálogo de Bienes y Servicios (SIByS).', value=data.notes, error=errors.notes, attrs={'data-valid-desc-length': max_length_description}, after_desc=after_desc_description|join|safe, max_length=max_length_description) }}

{# if we have a default group then this wants remembering #}
{% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}"/>
{% endif %}

{% set organizations_available = h.organizations_available('create_dataset') %}
{% set show_organizations_selector = organizations_available %}

{% if show_organizations_selector %}
    {% set existing_org = data.owner_org or data.group_id %}
    <div class="control-group">
        <label for="field-organizations" class="control-label">* Organización</label>
        <div class="controls">
            <select id="field-organizations" name="owner_org" data-module="autocomplete">
                {% if h.check_config_permission('create_unowned_dataset') %}
                    <option value="" {% if not selected_org and data.id %}
                            selected="selected" {% endif %}>{{ _('No organization') }}</option>
                {% endif %}
                {% for organization in organizations_available %}
                    {# get out first org from users list only if there is not an existing org #}
                    {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
                    <option value="{{ organization.id }}" {% if selected_org %}
                            selected="selected" {% endif %}>{{ organization.display_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}

{% if form_style == 'edit' %}
    <div class="control-group">
        <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        <div class="controls">
            <select id="field-private" name="private">
                {% for option in [('True', _('Private')), ('False', _('Public'))] %}
                    <option value="{{ option[0] }}"
                            {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

{% else %}
    <input type="hidden" name="private" value="False" id="visibility">
{% endif %}
