{% import 'macros/form.html' as form %}

{% block package_metadata_fields %}

    {% set frequencies = h.update_frequencies() %}
    {% set selected_freq = h.get_pkg_extra(data, 'accrualPeriodicity') or h.get_pkg_extra(data, 'updateFrequency') %}
    <div class="control-group hidden-extra-select">
        <label for="update-freq" class="control-label">* Frecuencia de actualización</label>
        <div class="controls">
            <select id="update-freq" name="accrualPeriodicity" type="select">
                <option {{ 'selected=true' if not selected_freq or selected_freq|length == 0 }} disabled="disabled"></option>
                {% for frequencie in frequencies %}
                    <option value="{{ frequencie[0] }}" {{ 'selected' if frequencie[0] == selected_freq }}>{{ frequencie[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
    {% set url_value = data.url if data.url else domain %}

    {{ form.textarea('author', label='* Responsable', id='field-author', value=data.author, error=errors.author, classes=['control-full'], rows=2, placeholder="Ej. Ministerio de Modernización. Secretaría de Gestión e Innovación Pública. Subsecretaría de Innovación Pública y Gobierno Abierto.") }}

    {{ form.input('author_email', label='E-mail del responsable', id='field-author-email', value=data.author_email, error=errors.author_email, classes=['control-medium'], placeholder="Ej. gobiernoabierto@modernizacion.gob.ar") }}

    {{ form.textarea('maintainer', label='Mantenedor', id='field-maintainer', value=data.maintainer, error=errors.maintainer, classes=['control-full'], rows=3, placeholder="Ej. Ministerio de Modernización. Secretaría de Gestión e Innovación Pública. Subsecretaría de Innovación Pública y Gobierno Abierto. Dirección Nacional de Datos e Información Pública. Dirección de Datos Públicos.") }}

    {{ form.input('maintainer_email', label='E-mail del mantenedor', id='field-maintainer-email', value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium'], placeholder="Ej. datospublicos@modernizacion.gob.ar") }}

    {{ form.input('Documentación', label='Documentación', type='text', value=h.get_pkg_extra(data, 'Documentación'), classes=['hidden-extra'], placeholder='Ej. https://github.com/gobabiertoAR/datasets-portal/blob/master/presupuesto/presupuesto-documentacion.md') }}

    {{ form.input('source', label='Fuente primaria', type='text', value=h.get_pkg_extra(data, 'source'), classes=['hidden-extra'], placeholder='Ej. Instituto Nacional de Estadística y Censos de la República Argentina (INDEC)') }}

    {{ form.input('url', label='Página de referencia', id='field-url', value=url_value, attrs={'domain': domain, 'last_string_added': '', was_edited: false},
               placeholder='Ej. https://www.argentinacompra.gov.ar/contrataciones', error=errors.url, classes=['control-medium']) }}

    {% set languages = [{"name":"Abkhaz","code":"abk"},{"name":"Afar","code":"aar"},{"name":"Africanos","code":"afr"},{"name":"Akan","code":"aka"},{"name":"Albania","code":"sqi"},{"name":"Amárico","code":"amh"},{"name":"Árabe","code":"ara"},{"name":"Aragonés","code":"arg"},{"name":"Armenio","code":"hye"},{"name":"Assamese","code":"asm"},{"name":"Avaric","code":"ava"},{"name":"Avestan","code":"ave"},{"name":"Aymara","code":"aym"},{"name":"Azerbaiyán","code":"aze"},{"name":"Bambara","code":"bam"},{"name":"Bashkir","code":"bak"},{"name":"Vasco","code":"eus"},{"name":"Belarús","code":"bel"},{"name":"Bengalí","code":"ben"},{"name":"Bihari","code":"bih"},{"name":"Bislama","code":"bis"},{"name":"Bosnia","code":"bos"},{"name":"Breton","code":"bre"},{"name":"Búlgaro","code":"bul"},{"name":"Burmese","code":"mya"},{"name":"Catalán","code":"cat"},{"name":"Chamorro","code":"cha"},{"name":"Chechenio","code":"che"},{"name":"Chichewa, Chewa, Nyanja","code":"nya"},{"name":"Chino","code":"zho"},{"name":"Chuvashia","code":"chv"},{"name":"Cornualles","code":"cor"},{"name":"Corso","code":"cos"},{"name":"Cree","code":"cre"},{"name":"Croacia","code":"hrv"},{"name":"Checo","code":"ces"},{"name":"Danés","code":"dan"},{"name":"Divehi, Dhivehi, Maldivas","code":"div"},{"name":"Holandés","code":"nld"},{"name":"Dzongkha","code":"dzo"},{"name":"Inglés","code":"eng"},{"name":"Esperanto","code":"epo"},{"name":"Estonia","code":"est"},{"name":"Ewe","code":"ewe"},{"name":"Faroese","code":"fao"},{"name":"Fiji","code":"fij"},{"name":"Finlandés","code":"fin"},{"name":"Francés","code":"fra"},{"name":"Fula, Fulah, Pulaar, Pular","code":"ful"},{"name":"Galicia","code":"glg"},{"name":"Georgiano","code":"kat"},{"name":"Alemán","code":"deu"},{"name":"Griego Moderno","code":"ell"},{"name":"Guaraní","code":"grn"},{"name":"Gujarati","code":"guj"},{"name":"Haitiano, creole haitiano","code":"hat"},{"name":"Hausa","code":"hau"},{"name":"Hebreo (moderno)","code":"heb"},{"name":"Herero","code":"her"},{"name":"Hindi","code":"hin"},{"name":"Hiri Motu","code":"hmo"},{"name":"Húngaro","code":"hun"},{"name":"Interlingua","code":"ina"},{"name":"Indonesio","code":"ind"},{"name":"Interlingue","code":"ile"},{"name":"Irlanda","code":"gle"},{"name":"Igbo","code":"ibo"},{"name":"Inupiaq","code":"ipk"},{"name":"Ido","code":"ido"},{"name":"Islandés","code":"isl"},{"name":"Italiano","code":"ita"},{"name":"Inuktitut","code":"iku"},{"name":"Japonés","code":"jpn"},{"name":"Javanés","code":"jav"},{"name":"Kalaallisut, Groenlandia","code":"kal"},{"name":"Canarés","code":"kan"},{"name":"Kanuri","code":"kau"},{"name":"Cachemira","code":"kas"},{"name":"Kazajstán","code":"kaz"},{"name":"Khmer","code":"khm"},{"name":"Kikuyu, Gikuyu","code":"kik"},{"name":"Kinyarwanda","code":"kin"},{"name":"Kirguises, Kirguistán","code":"kir"},{"name":"Komi","code":"kom"},{"name":"Kongo","code":"kon"},{"name":"Corea","code":"kor"},{"name":"Kurdo","code":"kur"},{"name":"Kwanyama, Kuanyama","code":"kua"},{"name":"Latin","code":"lat"},{"name":"Luxemburgués, Luxemburgués","code":"ltz"},{"name":"Luganda","code":"lug"},{"name":"Limburgués, Limburgan, Limburger","code":"lim"},{"name":"Lingala","code":"lin"},{"name":"Lao","code":"lao"},{"name":"Lituano","code":"lit"},{"name":"Luba-Katanga","code":"lub"},{"name":"Letonia","code":"lav"},{"name":"Manx","code":"glv"},{"name":"Macedonia","code":"mkd"},{"name":"Madagascar","code":"mlg"},{"name":"Malayo","code":"msa"},{"name":"Malayalam","code":"mal"},{"name":"Maltés","code":"mlt"},{"name":"Māori","code":"mri"},{"name":"Maratí (Marathi)","code":"mar"},{"name":"De las Islas Marshall","code":"mah"},{"name":"Mongolia","code":"mon"},{"name":"Nauru","code":"nau"},{"name":"Navajo, Navaho","code":"nav"},{"name":"Noruego Bokmål","code":"nob"},{"name":"Ndebele del Norte","code":"nde"},{"name":"Nepali","code":"nep"},{"name":"Ndonga","code":"ndo"},{"name":"Noruego Nynorsk","code":"nno"},{"name":"Noruego","code":"nor"},{"name":"Nuosu","code":"iii"},{"name":"Ndebele del sur","code":"nbl"},{"name":"Occitano","code":"oci"},{"name":"Ojibwe, Ojibwa","code":"oji"},{"name":"Antiguo eslavo eclesiástico, Iglesia eslava, eslavo eclesiástico, antiguo Búlgaro, Esclavo viejo","code":"chu"},{"name":"Oromo","code":"orm"},{"name":"Oriya","code":"ori"},{"name":"Osetia del Sur, osetio","code":"oss"},{"name":"Panjabi, Punjabi","code":"pan"},{"name":"Pāli","code":"pli"},{"name":"Persa","code":"fas"},{"name":"Polaco","code":"pol"},{"name":"Pashto, Pushto","code":"pus"},{"name":"Portugués","code":"por"},{"name":"Quechua","code":"que"},{"name":"Romanche","code":"roh"},{"name":"Kirundi","code":"run"},{"name":"Rumania, Moldavia, Moldavan","code":"ron"},{"name":"Ruso","code":"rus"},{"name":"Sánscrito (samskrta)","code":"san"},{"name":"Sardo","code":"srd"},{"name":"Sindhi","code":"snd"},{"name":"Sami del norte","code":"sme"},{"name":"Samoa","code":"smo"},{"name":"Sango","code":"sag"},{"name":"Serbio","code":"srp"},{"name":"Gaélico escocés, gaélico","code":"gla"},{"name":"Shona","code":"sna"},{"name":"Cingalés, singalés","code":"sin"},{"name":"Eslovaca","code":"slk"},{"name":"Esloveno","code":"slv"},{"name":"Somalí","code":"som"},{"name":"Southern Sotho","code":"sot"},{"name":"Español, castellano","code":"spa"},{"name":"Sundanese","code":"sun"},{"name":"Swahili","code":"swa"},{"name":"Swati","code":"ssw"},{"name":"Sueco","code":"swe"},{"name":"Tamil","code":"tam"},{"name":"Telugu","code":"tel"},{"name":"Tayikistán","code":"tgk"},{"name":"Tailandia","code":"tha"},{"name":"Tigrinya","code":"tir"},{"name":"Tibetano estándar, Tibetano, Central","code":"bod"},{"name":"Turkmenistán","code":"tuk"},{"name":"Tagalo","code":"tgl"},{"name":"Tswana","code":"tsn"},{"name":"Tonga (Islas Tonga)","code":"ton"},{"name":"Turco","code":"tur"},{"name":"Tsonga","code":"tso"},{"name":"Tártara","code":"tat"},{"name":"Twi","code":"twi"},{"name":"Tahitian","code":"tah"},{"name":"Uighur, Uyghur","code":"uig"},{"name":"Ucrania","code":"ukr"},{"name":"Urdu","code":"urd"},{"name":"Uzbeko","code":"uzb"},{"name":"Venda","code":"ven"},{"name":"Vietnamita","code":"vie"},{"name":"Volapük","code":"vol"},{"name":"Valonia","code":"wln"},{"name":"Galés","code":"cym"},{"name":"Wolof","code":"wol"},{"name":"Oeste de Frisia","code":"fry"},{"name":"Xhosa","code":"xho"},{"name":"Yiddish","code":"yid"},{"name":"Yoruba","code":"yor"},{"name":"Zhuang, Chuang","code":"zha"},{"name":"Zulu","code":"zul"}] %}

    {% set selected_languages = h.json_loads(h.get_pkg_extra(data, 'language') or '[]') %}

    <div class="control-group hidden-extra-select">
        <label for="field-language" class="control-label">Idioma</label>
        <div class="controls">
            <select id="field-language" name="language" data-module="autocomplete" multiple="multiple" type="select">
                {% for language in languages %}
                    <option value="{{ language.code }}" {{ 'selected' if language.code in selected_languages }}>{{ language.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="control-group hidden-extra">
        <label for="country-field" class="control-label">País</label>
        {% set selected_country = h.get_pkg_extra(data, 'country') %}
        <input id="country-field" type="text" value="{{ selected_country }}" name="country" style="width: 384px;" />
    </div>

    <div class="control-group internal hidden-extra">
        <label for="province-field" class="control-label">Provincia</label>
        {% set selected_province = h.get_pkg_extra(data, 'province') %}
        <input id="province-field" type="text" value="{{ selected_province }}" name="province" style="width: 384px;" />
    </div>

    <div class="control-group internal hidden-extra">
        <label for="district-field" class="control-label">Municipio</label>
        {% set selected_districts = h.get_pkg_extra(data, 'district') %}
        <input id="district-field" type="text" value="{{ selected_districts }}" name="district"
                        multiple="multiple" style="width: 384px;" />
    </div>

    <div class="control-group">
        {% set date_has_time = False %}
        <label>Tiempo que cubre el conjunto</label>
        <label class="detail-hour">
            <input type="checkbox" id="date_with_time" {{ 'checked' if date_has_time else '' }}>
            ¿Querés detallar la hora?
        </label>
        <table class="date-picker" data-dates="{{ h.get_pkg_extra(data, 'temporal') or h.get_pkg_extra(data, 'dateRange') }}">
            <tr>
                <td>
                    <label class="picker-date-from">Desde <input type="text" id="date-from" name="date-from"></label>
                </td>
                <td>
                    <label class="picker-date-to">Hasta <input type="text" id="date-to" name="date-to"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="hidden hour-picker-from">
                        <span class="invisible-label">Desde </span>
                        {% set hours = ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"] %}
                        <select id="date-from-hour">
                            {% for hour in hours %}
                                <option val="{{ hour }}">{{ hour }}</option>
                            {% endfor %}
                        </select>
                        {% set minutes = ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58","59"] %}
                        <select id="date-from-minute">
                            {% for minute in minutes %}
                                <option val="{{ minute }}">{{ minute }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="hidden hour-picker-to">
                        <span class="invisible-label">Hasta </span>
                        <select id="date-to-hour">
                            {% for hour in hours %}
                                <option val="{{ hour }}">{{ hour }}</option>
                            {% endfor %}
                        </select>
                        <select id="date-to-minute">
                            {% for minute in minutes %}
                                <option val="{{ minute }}">{{ minute }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="control-group hidden-extra">
    {#
    {% set organization_create = h.check_access('organization_create') %}
    {%- if organization_create -%}
    #}
        <label class="no-margin" style="{{ 'display: none' if not h.check_access('organization_create') else '' }}">
            {% set is_featured = h.get_pkg_extra(data, 'home_featured') == 'true' %}
            <input type="checkbox" id="home_featured" name="home_featured" {{ 'checked' if is_featured or not data.author else '' }}>
            ¿Querés destacar este conjunto en la Página principal?
        </label>
    {#
    {%- endif -%}
    #}
    </div>

    <div class="hidden-extras-container hidden"></div>

    {% resource 'gobar_js/libs/bootstrap-datepicker.js' %}
    {% resource 'gobar_js/spatial.js' %}

{% endblock %}
