<div class="control-group control-full">
    <label class="control-label" for="field-groups">Temas específicos</label>
    <p>Estos son los temas que se mostrarán en tu portal.</p>
    <div class="controls package-groups">
        {% for group in h.join_groups(selected_groups) %}
            {%- if not 'ods-' in group.name -%}
                <label class="package-group-label" for="{{ group.name }}">
                    <input type="checkbox" class="package-group-checkbox"
                           id="{{ group.name }}" {{ 'checked' if group.selected else '' }} onChange="syncCheck(this.id, this.checked)">
                    {{ group.display_name }}
                </label>
            {%- endif -%}
        {% endfor %}
    </div>
</div>
<div class="control-group control-full">
    <label class="control-label" for="field-groups">ODS</label>
    <p>Clasificación por ODS</p>
    <div class="controls package-groups">
        {% for group in h.join_groups(selected_groups) %}
            {%- if 'ods-' in group.name -%}
                <label class="package-group-label" for="{{ group.name }}">
                    <input type="checkbox" class="package-group-checkbox"
                           id="{{ group.name }}" {{ 'checked' if group.selected else '' }}>
                    {{ group.display_name }}
                </label>
            {%- endif -%}
        {% endfor %}
    </div>
</div>
<script>
function syncCheck(id, checked){
        var idGlobal = id.substring(0, id.length-1);
        console.log(id + "\n" + idGlobal + "\n")
        console.log("tema esp: " + checked + "\n");
        var temaglobal = document.getElementById(idGlobal.toUpperCase());
        if(temaglobal != null){
            console.log("tema global: " + temaglobal.checked + "\n");
            temaglobal.checked = checked;

        }
    }
</script>
