{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = [
    ('Última modificación', 'metadata_modified desc'),
    ('Ascendente (A - Z)', 'title_string asc'),
    ('Descendente (Z - A)', 'title_string desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}

<form {% if form_id %}id="{{ form_id }}" {% endif %} class="search-form container-fluid search-and-order"
      method="get" data-module="select-switch">
    <div class="restricted-max-width">
        <div class="searcher col-xs-12 col-sm-6">
            <div class="hidden-md hidden-lg menu-button">
                {% snippet "svg/menu.svg" %}
            </div>

            <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off"
                   placeholder="¿Qué conjuntos de datos buscás?" maxlength="200">
            <button type="submit" value="search">
                <img src="/img/search_gris.svg" class="search-icon">
            </button>
        </div>

        {% if fields -%}
            <span>{{ form.hidden_from_list(fields=fields) }}</span>
        {%- endif %}

        <div class="order hidden-xs col-sm-6">
            <label for="field-order-by">Ordenar por</label>
            <select id="field-order-by" name="sort">
                {% for label, value in sorting %}
                    {% if label and value %}
                        <option value="{{ value }}"{% if sorting_selected == value %}
                                selected="selected"{% endif %}>{{ label }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="btn js-hide" type="submit" style="display:none;"></button>
        </div>
    </div>
</form>

{% if error %}
    <p class="search-error"><strong>Ha ocurrido un error con la busqueda.</strong></p>
    <p>Por favor trate de vuelta y si el problema persiste <a href="{{ h.url('gobar_contacto') }}">contactenos</a>.</p>
{% else %}
    {% if count == 0 %}
        <p class="extra">No se encontraron resultados</p>
    {% endif %}
{% endif %}

{% resource 'gobar_js/search/filters.js' %}
