{% with items = h.get_facet_items_dict(name) %}
    <div class="search-filter invisible">
        <h2 class="filter-title">{{ title }}</h2>
        {% if items %}
            <ul class="filter-values">
                {% for item in items %}
                    {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
                    {% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}
                    <a href="{{ href }}">
                        <li class="filter-value {% if item.active %} active{% endif %}">
                            <span>
                                {%- if name == 'organization' and '-' in item.display_name -%}
                                    {{ item.display_name.split('-')[1] }}
                                {%- else -%}
                                    {{ item.display_name }}
                                {%- endif -%}
                                 {{ count }}</span>
                            <img class="close-filter" src="/img/close-filter.svg">
                        </li>
                    </a>
                {% endfor %}
            </ul>

            {% if h.get_param_int('_%s_limit' % name) %}
                {% if h.has_more_facets(name) %}
                    <a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}"
                       class="filter-show-more">
                        <p>
                            {{ h.snippet('svg/flecha_abajo.svg') }}
                            Mostrar más
                            {{ h.snippet('svg/flecha_abajo.svg') }}
                        </p>
                    </a>
                {% endif %}
            {% else %}
                <a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}"
                   class="filter-show-less">
                    <p>
                        {{ h.snippet('svg/flecha_arriba.svg') }}
                        Mostrar menos
                        {{ h.snippet('svg/flecha_arriba.svg') }}
                    </p>
                </a>
            {% endif %}
        {% else %}
            <p class="filter-empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
        {% endif %}
        <hr>
    </div>
{% endwith %}
