<div id="search-results" class="col-xs-12 col-md-8 invisible">
    {% if h.check_access('package_create') %}
        <div class="add-dataset">
            {% set user_controller = 'ckanext.gobar_theme.user_controller:GobArUserController' %}
            {%- link_for 'VER CONJUNTOS DE DATOS EN BORRADOR', controller=user_controller, action='drafts' -%}
            {%- link_for 'CREAR DATASET', controller='package', action='new' -%}
        </div>
    {% endif %}

    {% set facets = {
      'fields': c.fields_grouped,
      'search': c.search_facets,
      'titles': c.facet_titles,
      'translated_fields': c.translated_fields,
      'remove_field': c.remove_field } %}

    {% snippet 'package/snippets/search_form.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}

    <div class="dataset-list">
        {%- set show_group_imgs = h.get_theme_config('groups.imgs') != 'hide-icons' -%}
        {%- set packages = c.page.items -%}
        {%- set groups_with_img_path = h.get_groups_img_paths(h.get_faceted_groups()) -%}
        {%- for package in packages -%}
            {%- snippet 'package/snippets/search_item.html', package=package, truncate=truncate, truncate_title=truncate_title, show_group_imgs=show_group_imgs, groups_with_img_path=groups_with_img_path -%}
        {%- endfor -%}
    </div>

    {{ c.page.pager(q=c.q) }}

    <div class="filters-veil"></div>
</div>
