@font-face {
    font-family: 'Montserrat', 'Roboto';
    src: url('/font/Roboto-Regular-webfont.eot');
    src: url('/font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/Roboto-Regular-webfont.woff') format('woff'),
         url('/font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/font/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', 'Roboto';
    src: url('/font/Roboto-Light-webfont.eot');
    src: url('/font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/Roboto-Light-webfont.woff') format('woff'),
         url('/font/Roboto-Light-webfont.ttf') format('truetype'),
         url('/font/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', 'Roboto';
    src: url('/font/Roboto-Medium-webfont.eot');
    src: url('/font/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/Roboto-Medium-webfont.woff') format('woff'),
         url('/font/Roboto-Medium-webfont.ttf') format('truetype'),
         url('/font/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
