<div id="navbar" class="col-xs-12 col-md-4">

    <h2>Página de inicio</h2>
    <div class="links-section">
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_title') }}"
           class="section-link {{ 'active' if c.action == 'edit_title' else '' }}">
            Título, descripción e imagen del portal
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_home') }}"
           class="section-link {{ 'active' if c.action == 'edit_home' else '' }}">
            Formato de la portada
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_groups') }}"
           class="section-link {{ 'active' if c.action == 'edit_groups' else '' }}">
            Formato de los temas
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_header') }}"
           class="section-link {{ 'active' if c.action == 'edit_header' else '' }}">
            Logo en el encabezado
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_social') }}"
           class="section-link {{ 'active' if c.action == 'edit_social' else '' }}">
            Redes sociales y contacto
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_footer') }}"
           class="section-link {{ 'active' if c.action == 'edit_footer' else '' }}">
            Logo en el pie de página
        </a>
    </div>

    <h2>Otras secciones del portal</h2>
    <div class="links-section">
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_datasets') }}"
           class="section-link {{ 'active' if c.action == 'edit_datasets' else '' }}">
            Conjuntos de Datos
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_organizations') }}"
           class="section-link {{ 'active' if c.action == 'edit_organizations' else '' }}">
            Organizaciones con datos (opcional)
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_about') }}"
           class="section-link {{ 'active' if c.action == 'edit_about' else '' }}">
            Acerca (opcional)
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_apis') }}"
           class="section-link {{ 'active' if c.action == 'edit_apis' else '' }}">
            APIs
        </a>
        {% if h.is_plugin_present('seriestiempoarexplorer') %}
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_series') }}"
           class="section-link {{ 'active' if c.action == 'edit_series' else '' }}">
            Series
        </a>
        {% endif %}
    </div>

    <h2>Metadatos</h2>
    <div class="links-section">
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_metadata_portal') }}"
           class="section-link {{ 'active' if c.action == 'edit_metadata_portal' else '' }}">
            Metadatos del portal
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_metadata_google_fb') }}"
           class="section-link {{ 'active' if c.action == 'edit_metadata_google_fb' else '' }}">
            Google y Facebook
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_metadata_tw') }}"
           class="section-link {{ 'active' if c.action == 'edit_metadata_tw' else '' }}">
            Twitter
        </a>
    </div>

    <h2>Configuración avanzada</h2>
    <div class="links-section">
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_google_dataset_search') }}"
           class="section-link {{ 'active' if c.action == 'edit_google_dataset_search' else '' }}">
            Google Dataset Search
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_datapusher_commands') }}"
           class="section-link {{ 'active' if c.action == 'edit_datapusher_commands' else '' }}">
            Datapusher
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_google_tag_manager') }}"
           class="section-link {{ 'active' if c.action == 'edit_google_tag_manager' else '' }}">
            Google Tag Manager
        </a>
    </div>

    <div class="links-section guide-link">
        <a class="inline"
           href="https://github.com/datosgobar/portal-andino-theme/blob/master/docs/guia_uso_portal_andino.md"
           target="_blank">
            <i class="icon-question-sign" aria-hidden="true"></i>
            ¿Dudas? Tené a mano la <span class="blue">guía de uso</span>.
        </a>
    </div>
</div>
