{% extends h.get_andino_base_page() %}

{% block subtitle %}Editar grupo - {% endblock %}

{% block content %}
    <div id="edit-group-container" class="container-fluid">
        <div class="restricted-max-width">
            <div id="edit-group" class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="back-btn">
                        <a href="{{ h.url('home') }}">
                            <i class="icon-chevron-left"></i>
                            VOLVER
                        </a>
                    </div>
                    <h1>Editar tema</h1>
                    {{ c.form | safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
