{% extends h.get_andino_base_page() %}

{% block subtitle %}Acerca - {% endblock %}

{% block content %}

    <div id="about-container" class="container-fluid gobar-static-container">
        <div class="restricted-max-width">
            <div id="about" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static">
                <div id="pkg-path">
                    {% set title = h.get_theme_config('title.site-title') %}
                    <a href="{{ h.url_for(controller='package', action='search') }}">{{ title if title else '' }}</a> / Acerca
                </div>


                {% set title = h.get_theme_config('about.title') %}
                <h2>{{ title if title else '' }}</h2>

                {%- set description = h.get_theme_config('about.description') -%}
                {% if description %}
                    {% set paragraphs = description.split('\n') %}
                    {% for paragraph in paragraphs %}
                        <p>
                            {{- paragraph -}}
                        </p>
                    {% endfor %}
                {% endif %}
                <p>CKAN: <a href="http://ckan.org/">http://ckan.org/</a><br /> Tour de CKAN: <a href="http://ckan.org/tour/">http://ckan.org/tour/</a><br /> Revisión de funcionalidades: <a href="http://ckan.org/features/">http://ckan.org/features/</a>
            </div>
        </div>
    </div>
{% endblock %}
