{% extends h.get_andino_base_page() %}

{% block subtitle %}CKAN - {% endblock %}

{% block content %}

<div id="developers-users-container" class="container-fluid gobar-static-container">
        <div class="restricted-max-width">
            <div id="developers-users" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static">
                <div id="pkg-path">
                    {% set title = h.get_theme_config('title.site-title') %}
                    <a href="{{ h.url_for(controller='package', action='search') }}">{{ title if title else '' }}</a> / Acerca CKAN
                </div>

                <h2>CKAN</h2>

                <h3>El catálogo</h3>

                <p>
                    <strong>Nuestro portal usa la plataforma CKAN</strong> en su versión 2.5. CKAN es una
                    herramienta desarrollada por la <i>Open Knowledge Foundation</i>. <strong>Se trata de <i>software</i> libre
                    distribuido bajo la licencia GNU Affero General Public License.</strong>
                </p>

                <p>
                    <strong>Actualmente es una de las plataformas</strong> más populares para este tipo de
                    iniciativas. La usan, entre otros, el Gobierno de Reino Unido, Estados Unidos, Brasil y Chile.
                </p>

                <p>
                    CKAN permite la organización de los datos publicados a través de su esquema de conjuntos de datos y
                    recursos, así como el acceso programático a éstos, aplicando estándares aprobados
                    internacionalmente para la generación de metadatos.
                </p>

                <h3>Metadatos</h3>
                <p>
                    Para hacer más fácil la navegación en el portal y la búsqueda de conjuntos de datos, usamos los
                    estándares de metadatos propuestos por defecto en CKAN (<i>dublin core y dcat</i>).
                </p>

                <h3>Integrar nuestros datos</h3>

                <p>
                    Podés <strong>integrar los datos y los metadatos de un conjunto de datos por medio de la API de
                    CKAN.</strong>
                </p>

                <p>
                    <strong>Esta es la forma genérica de consultar los metadatos:</strong>
                </p>

                <pre><code>http://datos.gob.ar/api/3/action/package_show?id=&lt;id_del_dataset&gt;</code></pre>

                <p>
                    Por ejemplo, podríamos ver los metadatos del conjunto de datos de Estructura orgánica y autoridades del
                    Poder Ejecutivo Nacional, consultando:
                </p>


                <div class="source-link-container">
                    <pre><code>http://datos.gob.ar/api/3/action/package_show?id=estructura-organica-pen</code></pre>
                    <a href="http://datos.gob.ar/api/3/action/package_show?id=estructura-organica-pen" target="_blank">
                        <i class="icon-external-link-sign"></i>
                    </a>
                </div>

                <p>
                    A su vez, este es <strong>el modo genérico de consultar los datos de un recurso</strong> dentro
                    de un conjunto de datos específico:
                </p>

                <pre><code>http://datos.gob.ar/api/3/action/datastore_search?resource_id=&lt;id_del_recurso&gt;</code></pre>

                <p>
                    ¿Un ejemplo? Podemos ver los datos de un recurso del conjunto de datos de Estructura orgánica y
                    autoridades del Poder Ejecutivo Nacional, así:
                </p>

                <div class="source-link-container">
                    <pre><code>http://datos.gob.ar/api/3/action/datastore_search?resource_id=b705d8c1-650f-43cc-bde6-68850fcecd21</code></pre>
                    <a href="http://datos.gob.ar/api/3/action/datastore_search?resource_id=b705d8c1-650f-43cc-bde6-68850fcecd21" target="_blank">
                        <i class="icon-external-link-sign"></i>
                    </a>
                </div>

                <p class="no-margin">
                    Mirá más <a href="http://docs.ckan.org/en/latest/api/" target="_blank">detalles para usar la API.</a>
                </p>

                {% if h.get_theme_config('social.github') %}
                <p class="text-center no-margin button-container">
                    <a href="{{ h.get_theme_config('social.github') }}" target="_blank">
                        <button>IR A NUESTRO GITHUB</button>
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
