{% extends h.get_andino_base_page() %}

{% block subtitle %} - {{ gettext('Error %(error_code)s', error_code=c.code[0]) }}{% endblock %}

{% block content %}
    <div id="error" class="container-fluid">
        <div class="restricted-max-width">
            <div id="error-text" class="col-xs-12 col-md-10 col-md-offset-1">
                <div id="error-code" class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2"
                     data-error="{{ c.code[0] }}">
                    {%- for row in range(12) -%}
                        {%- for col in range(32) -%}
                            {%- if col == 10 or col == 21 -%}
                                <div class="circle separator" data-col="{{ col }}" data-row="{{ row }}"></div>
                            {%- else -%}
                                <div class="circle circle-container" data-col="{{ col }}" data-row="{{ row }}">
                                    <div class="circle-gutter">
                                        <div class="circle-background">
                                        </div>
                                    </div>
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor -%}
                </div>
                <div id="error-description" class="col-xs-12">
                    {% if c.code[0] == '404' %}
                        La página solicitada no se ha encontrado
                    {% else %}
                        Ups, ha ocurrido un error
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% resource 'gobar_js/home/404.js' %}

{% endblock %}
