
<div id="header" class="container-fluid">
    <div class="restricted-max-width">
        <div id="header-spacing" class="col-xs-12 col-sm-10 col-sm-offset-1">

            {% set header_sections = h.get_theme_config('about.sections', []) %}

            <div class="col-xs-12 col-sm-5 no-padding logo-header">
                <div class="logo-and-xs-icon">
                    <i class="icon-reorder fa fa-bars" aria-hidden="true"></i>
                    <a href="{{ h.url('home') }}">
                        {% set image = h.get_theme_config('header.image') %}
                        <img src="{{ image if image else '/img/logo_ministerio.svg' }}" class="logo-ministerio">
                    </a>
                    {% if c.userobj and c.userobj.sysadmin and c.controller != 'ckanext.gobar_theme.config_controller:GobArConfigController' %}
                        <a class="edit-description-link"
                           href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_header') }}">
                            {% snippet "svg/edit.svg" %}
                        </a>
                    {% endif %}
                </div>
                <div class="xs-navbar hidden">
                    <div class="navbar-link">

                        <a href="{{ h.url_for(controller='package', action='search') }}">
                            DATOS
                        </a>
                    </div>
                    <hr>
                    {% if h.get_theme_config('series_tiempo_ar_explorer.enable') and h.is_plugin_present('seriestiempoarexplorer') %}
                        <div class="navbar-link">
                            <a href="{{ h.url_for(controller='ckanext.seriestiempoarexplorer.controller:TSArController', action='series_tiempo') }}">
                                SERIES
                            </a>
                        </div>
                    {% endif %}
                    {% if h.get_theme_config('organization.show-organizations') %}
                        <div class="navbar-link">
                            <a href="{{ h.url_for(controller='organization', action='index') }}">
                                ORGANIZACIONES
                            </a>
                        </div>
                    {% endif %}
                    <hr>
                    <a class="header-link" href="http://led.tucuman.gov.ar/" style="font-weight:bold;">
                            PORTAL LED
                    </a>
                    <hr>
                    {% if h.get_theme_config('apis.show-apis') %}
                        <div class="navbar-link">
                            <a href="{{ h.url('gobar_apis') }}">
                                APIs
                            </a>
                        </div>
                    {% endif %}

                    {% if h.get_theme_config('about.about-type') != 'No quiero una sección de acerca' and
                          h.get_theme_config('about.about-type') != 'None'%}

                        {% if h.get_theme_config('about.about-type') == 'Quiero secciones personalizadas (avanzado)' %}
                            <div class="navbar-link dropdown-navbar-link">
                                ACERCA
                            </div>
                            <div class="about-dropdown dropdown-navbar hidden">

                                {% if header_sections|length > 0 %}
                                    {% for header_section in header_sections %}
                                        <div class="navbar-link">
                                            <a href="{{ h.url('section', title_or_slug=header_section.slug or header_section.title) }}">
                                                {{ header_section.title }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div style="text-align: center">
                                        <p>No hay secciones</p>
                                    </div>
                                {% endif %}

                            </div>
                        {% else %}
                            <a class="header-link" href="{{ h.url('about') }}">ACERCA</a>
                        {% endif %}

                        <hr>

                    {%- endif -%}

                    {%- if c.userobj -%}
                        <div class="navbar-link dropdown-navbar-link">
                            <span class="username">{{ c.userobj.name }}</span> {% snippet "svg/user-logo.svg" %}
                        </div>
                        <div class="dropdown-navbar hidden">
                            <div class="navbar-link">
                                <a href="{{ h.url_for(controller='ckanext.gobar_theme.user_controller:GobArUserController', action='my_account') }}">
                                    MI CUENTA
                                </a>
                            </div>

                            {%- if c.userobj.sysadmin -%}
                                <div class="navbar-link">
                                    <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_title') }}">
                                        CONFIGURACIÓN
                                    </a>
                                </div>
                            {%- endif -%}

                            <div class="navbar-link">
                                <a href="http://portal-andino.readthedocs.io/es/latest/quickstart/" target="_blank">
                                    AYUDA
                                </a>
                            </div>

                            <div class="navbar-link">
                                <a href="{{ h.url_for(controller='user', action='logout') }}">
                                    SALIR
                                </a>
                            </div>
                        </div>
                    {%- else -%}
                        <div class="navbar-link">
                            <a href="/ingresar">
                                INGRESAR
                            </a>
                        </div>
                    {%- endif -%}
                </div>
            </div>

            <div class="col-xs-12 col-sm-7 no-padding header-links" style="font-size: 150%;">
                {%- if c.action != 'login' -%}

                    <a class="header-link" href="{{ h.url_for(controller='package', action='search') }}">Datos</a>

                    {%- if h.get_theme_config('series_tiempo_ar_explorer.enable') and h.is_plugin_present('seriestiempoarexplorer') -%}
                        <a class="header-link" href="{{ h.url_for(controller='ckanext.seriestiempoarexplorer.controller:TSArController', action='series_tiempo') }}">Series</a>
                    {%- endif -%}
                    {%- if h.get_theme_config('organization.show-organizations') -%}
                        <a class="header-link" href="{{ h.url_for(controller='organization', action='index') }}">Organizaciones</a>
                    {%- endif -%}

                    <a class="header-link" href="http://led.tucuman.gov.ar/" style="font-weight:bold;">

                        Portal LED

                    </a>

                        {# <a class="header-link" href="{{ h.url_for(controller='package', action='search') }}">ODS</a> #}
                    {%- if h.get_theme_config('apis.show-apis') -%}
                        <a class="header-link" href="{{ h.url('gobar_apis') }}">
                            APIs
                        </a>
                    {%- endif -%}

                    {% if (h.get_theme_config('about.about-type') != 'No quiero una sección de acerca' and
                          h.get_theme_config('about.about-type')  is not none) %}

                        {% if h.get_theme_config('about.about-type') == 'Quiero secciones personalizadas (avanzado)' %}

                            <span class="header-link dropdown">
                                Acerca <span class="caret"></span>
                                <ul class="about-dropdown" style="bottom:-120px;">

                                    {% if header_sections|length > 0 %}
                                        {% for header_section in header_sections %}
                                            <a href="{{ h.url('section', title_or_slug=header_section.slug or header_section.title) }}">
                                                <li>{{ header_section.title }}</li>
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        <div style="text-align: center">
                                            <p>No hay secciones</p>
                                        </div>
                                    {% endif %}

                                </ul>
                            </span>
                        {% else %}
                            <a class="header-link" href="{{ h.url('about') }}">Acerca</a>
                        {% endif %}

                    {%- endif -%}

                    {%- if c.userobj -%}
                        <span class="header-link dropdown"><span class="user-divisor"></span>
                            <span>{{ c.userobj.name }}</span> {% snippet "svg/user-logo.svg" %}

                            <ul {{ 'style=bottom:-120px' if not c.userobj.sysadmin else '' }}>
                                <a href="{{ h.url_for(controller='ckanext.gobar_theme.user_controller:GobArUserController', action='my_account') }}">
                                    <li>Mi Cuenta</li>
                                </a>

                                {%- if c.userobj.sysadmin -%}
                                    <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_title') }}">
                                        <li>Configuración</li>
                                    </a>
                                {%- endif -%}

                                <a href="http://portal-andino.readthedocs.io/es/latest/quickstart/" target="_blank">
                                    <li>Ayuda</li>
                                </a>

                                <a href="{{ h.url_for(controller='user', action='logout') }}">
                                    <li>Salir</li>
                                </a>
                            </ul>
                        </span>
                    {%- else -%}
                        <span class="header-link dropdown"><span class="user-divisor"></span>
                        <a class="header-link" href="/ingresar">
                            Ingresar
                        </a>
                    {%- endif -%}
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
